<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443665500473-hl6rj91rdq16apc3rfq1siul53echnpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443665500473-hl6rj91rdq16apc3rfq1siul53echnpr</string>
	<key>API_KEY</key>
	<string>AIzaSyDFpnI-0QaziM3wZAkFCGCKKgJ7Nn6TPRE</string>
	<key>GCM_SENDER_ID</key>
	<string>443665500473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jmnd.EasyToDo</string>
	<key>PROJECT_ID</key>
	<string>easytodo-c8c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>easytodo-c8c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443665500473:ios:1a5d12dc1bbc844d8d40e8</string>
</dict>
</plist>